# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib==3.10.1
numpy==1.26.4
opencv-python==4.8.0.74
PyYAML==6.0.2
torch>=2.0.0
torchvision>=0.20.0
importlib_resources==6.5.2

# Downloading weights -------------------------------------
# gdown==4.5.1

# Extras --------------------------------------
# sutil  # system utilization
# thop  # FLOPs computation
